In [1]:
import pandas as pd
import seaborn as sns

In [5]:
import ssl

#파이썬에서 urllib 혹은request를 보낼 때
#간혹 이와 같은 오류를 접할 수 있다. 
#이때 ssl인증을 거쳐갈 임시의 context를 생성 할 수 있다.

# ssl._create_default_https_context = ssl._create_unverified_context

In [6]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
columns = ['sepal_length', 'sepal_width', 'species']
df[columns].head()

   sepal_length  sepal_width species
0           5.1          3.5  setosa
1           4.9          3.0  setosa
2           4.7          3.2  setosa
3           4.6          3.1  setosa
4           5.0          3.6  setosa

In [12]:
# regex에 매칭되는걸 포함하는 열만 조회
df.filter(regex = 's').head()

   sepal_length  sepal_width species
0           5.1          3.5  setosa
1           4.9          3.0  setosa
2           4.7          3.2  setosa
3           4.6          3.1  setosa
4           5.0          3.6  setosa

In [18]:
df.filter(regex = '^s').head()

   sepal_length  sepal_width species
0           5.1          3.5  setosa
1           4.9          3.0  setosa
2           4.7          3.2  setosa
3           4.6          3.1  setosa
4           5.0          3.6  setosa